{% extends 'base.html' %}
{% block content %}
  <div class="card">
    <h1>Rules & Prizes</h1>

    <h2>Rules</h2>
    <p>Every player starts the game with 3 lives. Each week, you will need to pick a team who you think will win their fixture in that matchweek. Once you have selected a team, you will not be able to select them again for the remainder of the competition. If your team wins, you retain all your lives. If your team fails to win, you lose a life.</p>
    <p>Once you have lost all three of your lives, you are eliminated from the game and will become a spectator for the remaining duration.</p>
    <p>The winner of the Last Fan Standing will be the last remaining player with any lives remaining. In the event that two or more players lose their final lives in the same week, leaving no remaining participants, those two or more players will be victorious and win a split of the jackpot.</p>
    <p>Each week, the deadline to submit your pick will be one hour before the first match of that weekend takes place. If you fail to select a team before then, you will be automatically allocated the first team in the alphabet who you haven't already selected.</p>

    <h2>Prizes</h2>
    <p>The main jackpot (exact £££ TBC) will go to the Last Fan(s) Standing.</p>
    <p>£20 will be awarded to the boldest correct prediction of the entire competition (to be voted on by fellow players).</p>
  </div>
{% endblock %}
